.wishList {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 99%;
    align-items: center;

    &>div {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
    }
}