@use "../variables" as v;
@import "../mixins/mixins";

.productCard {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 60vh;
    margin: 1%;
    border: 1px v.$Primary solid;
    border-radius: 16px;

    .productCard__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 96%;
        text-decoration: none;
        color: v.$Primary;

        .productCard__img {
            height: 40vh;
            max-width: 100%;
            border-radius: 16px;
            object-fit: cover;
        }

        .productCard__name {
            width: 100%;
            text-align: center;
            overflow: hidden;
            white-space: nowrap;
            /* Don't forget this one */
            text-overflow: ellipsis;
        }


    }

    
}